:root {
  --uelt: hsl(19, 68%, 77%);
  --lt: hsl(232, 100%, 85%);
  --it: hsl(135, 100%, 73%);
  --st: hsl(60, 100%, 66%);
  --rt: hsl(42, 100%, 66%);
  --uert: hsl(19, 68%, 77%);
  --nwt: hsl(17, 64%, 86%);
  --correct: hsl(135, 100%, 30%);
  --wrong: hsl(8, 100%, 60%);
  --activeButton: hsl(19, 89%, 43%);
}